@model IEnumerable<RequestApproval.DTO.UserDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<p>
    @if (Session["Permission"] != null)
    {

        <a href="@Url.Action("SignUp","User")" class="btn btn-primary">Add User</a>
        
    }
</p>



<div class="container">
    <div class="row fw-bold">
        <div class="col">
            @Html.DisplayNameFor(model => model.FirstName)
        </div>
        <div class="col">
            <p>@Html.DisplayNameFor(model => model.LastName)</p>
        </div>
        <div class="col">
            <p>@Html.DisplayNameFor(model => model.Phone)</p>
        </div>
        <div class="col">
            <p>@Html.DisplayNameFor(model => model.Address)</p>
        </div>
        <div class="col">
            <p>@Html.DisplayNameFor(model => model.Email)</p>
        </div>
        <div class="col">
            <p>@Html.DisplayNameFor(model => model.UserType)</p>
        </div>
        @if (Session["Permission"] != null)
        {
            <div class="col">
                @Html.DisplayNameFor(model => model.IsActive)
            </div>
            <div class="col">
                @Html.Label("Actions")
            </div>
        }
        </div>
</div>

@foreach(var item in Model)
            {
                <div class="container">


                    <div class="row">
                        <div class="col">
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </div>
                        <div class="col">
                            @if (item.LastName.IsEmpty())
                            {
                                @Html.Label("NA")
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.LastName)
                            }
                        </div>
                        <div class="col">
                            @Html.DisplayFor(modelItem => item.Phone)
                        </div>
                        <div class="col">
                            @Html.DisplayFor(modelItem => item.Address)
                        </div>
                        <div class="col">
                            @Html.DisplayFor(modelItem => item.Email)
                        </div>
                        <div class="col">
                            @Html.DisplayFor(modelItem => item.UserType)
                        </div>
                        @if (Session["Permission"] != null)
                        {


                            <div class="col">
                                @if (item.IsActive)
                                {
                                    @Html.Label("Active")
                                }
                                else
                                {
                                    @Html.Label("In-Active")
                                }
                            </div>
                            <div class="col">
                                <a href="@Url.Action("Edit", "User", new { @id = item.Id })" class="btn btn-primary">Edit</a>
                                <a href="@Url.Action("Delete", "User", new { @id = item.Id })" class="btn btn-danger" onclick="return confirm('Are you sure want to delete @item.FirstName @item.LastName?');">Delete</a>
                            </div>
                        }

                    </div>
                </div>
                <hr />
            }
